/netbeans/prog_BD/nbproject/private/
/prog_BD/build/
/prog_BD/nbproject/private/
/PROG_BD_CLASE/build/
/PROG_BD_CLASE/nbproject/private/
/PROB_BD_CASA/build/
/PROB_BD_CASA/dist/
/PROB_BD_CASA/nbproject/private/
